storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions

nuget System.Reactive
nuget System.Interactive

nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Serilog.Extensions.Hosting
nuget Serilog.Settings.Configuration 
nuget Serilog.Formatting.Compact
